<nav class='sidebar'>
	<ul>
		<li><a href='/'>Dashboard</a></li>
		<li><a href='/tiendas'>Tiendas</a></li>
		<li><a href='/proveedores'>Proveedores</a></li>
		<li><a href='/categorias'>Categorías</a></li>
		<li><a href='/productos'>Productos</a></li>
		<li><a href='/logout'>Salir</a></li>

	</ul>
</nav>