<h1>Proveedores</h1>
<div class='content'>
	<div class='provider-bar'>
		<form id='search_provider' action=''>
			<input type='text' name='provider_name' id='provider_name' placeholder='Buscar...' />
			<button type='submit'>buscar</button>
		</form>
		<div>
			<button id='add_btn'>+ Nuevo proveedor</button>
			<button id='add_csv_btn' data-type='provider'>+ Carga masiva</button>
		</div>
	</div>
	<div class='main-table' id='provider-table-container'>

	</div>
	<div id='pagination'></div>
</div>