<h1>Tiendas</h1>
<div class='content'>
	<div class='store-bar'>
		<form id='search_store' action=''>
			<input type='text' name='store_name' id='store_name' placeholder='Buscar...' />
			<button type='submit'>buscar</button>
		</form>
		<div>
			<button id='add_btn' data-type='store'>+ Crear tienda</button>
			<button id='add_csv_btn' data-type='store'>+ Carga masiva</button>
		</div>
	</div>
	<div class='main-table' id='store-table-container'>

	</div>
	<div id='pagination'></div>
</div>