.user-card {
	background-color: #ffffff;
	box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 0.75);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 0.75);
	width: 50vw;
	min-width: 300px;
	padding: 16px;
	border-radius: 16px;
	margin-top: 16px;
	color: #666666;
}

.user-card span {
	color: #007bff;
}
