@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	outline: none;
	border: none;
}

body {
	overflow-x: hidden;
}

.content {
	padding-right: 32px;
}
/* Establece un grid en el contenedor principal */
body {
	background-color: #f1f1f1;
}

body h1 {
	color: #333333;
}

.container {
	display: grid;
	grid-template-columns: minmax(200px, auto) 1fr; /* La primera columna tiene un ancho mínimo de 200px y la segunda ocupa el espacio restante */
	gap: 20px; /* Espacio entre las columnas (puedes ajustarlo según tus necesidades) */
}

/* Estilos para el sidebar */
.sidebar {
	background-color: #d0e1f9; /* Cambia el color de fondo según tus preferencias */
	color: #fff; /* Cambia el color de texto según tus preferencias */
	padding: 20px 0px; /* Espacio interior del sidebar */
	min-height: 100vh;
}

.sidebar a {
	color: #007bff;
	width: 100%;
	display: block;
	padding: 16px 0px 16px 16px;
	transition: all 0.2s;
}
.sidebar a:hover {
	background-color: #007bff;
	color: #ffffff;
}

.sidebar ul {
	padding-top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.sidebar ul li {
	width: 100%;
}

/* Estilos para el contenido principal */
.main {
	padding: 20px; /* Espacio interior del contenido principal */
}

/* Estilos para los elementos dentro del sidebar y el contenido principal */
/* Puedes personalizar estos estilos según tus necesidades */
