.main-table h3 {
	text-align: center;
	color: #6f6f6f;
	font-weight: bold;
	font-style: italic;
	font-size: 32px;
	margin-top: 32px;
}

.main-table h4 {
	text-align: left;
	color: #6f6f6f;
	font-weight: bold;
	font-size: 16px;
	margin-top: 16px;
}

.store-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 32px;
	padding-top: 16px;
}

.store-bar #search_store {
	width: 50%;
	min-width: 250px;
}
.store-bar #search_store input {
	border: 1px solid #2c73d2;
	padding: 8px 16px;
	border-radius: 12px;
	width: 50%;
}

.store-bar #search_store input:focus {
	border: 1px solid #009ce9;
	outline: 2px solid #009ce9;
}

.store-bar #search_store button[type='submit'] {
	background-color: #2c73d2;
	color: #ffffff;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
	transition: all 0.3s;
	width: 70px;
}

.store-bar #search_store button[type='submit']:hover {
	background-color: #009ce9;
}

.store-bar #add_btn {
	background-color: #4caf50;
	color: #ffffff;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
	transition: all 0.3s;
}
.store-bar #add_csv_btn {
	background-color: #4caf50;
	color: #ffffff;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
	transition: all 0.3s;
}

.store-bar #add_btn:hover {
	background-color: #45a049;
}
.store-bar #add_csv_btn:hover {
	background-color: #45a049;
}

/* Estilos generales de la tabla */

table {
	width: 70vw;
	max-width: 1200px;
	min-width: 670px;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 16px auto 32px;
}

/* Encabezado de la tabla */
table th {
	background-color: #007bff; /* Color de fondo para el encabezado */
	color: #fff; /* Color de texto para el encabezado */
	font-weight: bold;
	text-align: left;
	padding: 8px;
}

/* Filas pares de la tabla */
table tr:nth-child(even) {
	background-color: #f1f1f1; /* Color de fondo para filas pares */
}

/* Filas impares de la tabla */
table tr:nth-child(odd) {
	background-color: #d0e1f9; /* Color de fondo para filas impares */
}

/* Celdas de la tabla */
table td {
	padding: 8px;
	border: 1px solid #fff; /* Borde para las celdas */
}

table td button img {
	width: 100%;
	height: 100%;
}

table .edit {
	background-color: #007bff;
	width: 32px;
	height: 32px;
	cursor: pointer;
	border-radius: 7px;
	padding: 4px;
}
table .edit:hover {
	background-color: #009ce9;
}

table .delete {
	background-color: #d81515;
	width: 32px;
	height: 32px;
	cursor: pointer;
	border-radius: 7px;
	padding: 4px;
}

table .delete:hover {
	background-color: #ff1919;
}

table .action-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

#pagination {
	text-align: center;
}

#pagination button {
	display: inline-block;
	padding: 8px 12px;
	margin: 4px;
	border: 1px solid #007bff;
	border-radius: 4px;
	background-color: #007bff;
	color: #fff;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

#pagination button:hover {
	background-color: #0056b3;
	color: #fff;
}

#pagination button.active {
	background-color: #0056b3;
	color: #fff;
}
